@charset "UTF-8";
@font-face {
  font-family: "fb89d872e4";
  src: url("../font/verblight.eot");
  src: url("../font/verblight.eot?#iefix") format("embedded-opentype"), url("../font/verblight.woff") format("woff"), url("../font/verblight.ttf") format("truetype"), url("../font/verblight.svg#verblight") format("svg");
  font-weight: 300;
  font-style: normal; }
@font-face {
  font-family: "fb89d872e4";
  src: url("../font/verbregular.eot");
  src: url("../font/verbregular.eot?#iefix") format("embedded-opentype"), url("../font/verbregular.woff") format("woff"), url("../font/verbregular.ttf") format("truetype"), url("../font/verbregular.svg#verbregular") format("svg");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: "fb89d872e4";
  src: url("../font/verbmedium.eot");
  src: url("../font/verbmedium.eot?#iefix") format("embedded-opentype"), url("../font/verbmedium.woff") format("woff"), url("../font/verbmedium.ttf") format("truetype"), url("../font/verbmedium.svg#verbmedium") format("svg");
  font-weight: 600;
  font-style: normal; }
@font-face {
  font-family: "fb89d872e4";
  src: url("../font/verbsemibold.eot");
  src: url("../font/verbsemibold.eot?#iefix") format("embedded-opentype"), url("../font/verbsemibold.woff") format("woff"), url("../font/verbsemibold.ttf") format("truetype"), url("../font/verbsemibold.svg#verbsemibold") format("svg");
  font-weight: 700;
  font-style: normal; }
html {
  background-color: #f0f2f5; }

html, body {
  color: black;
  font-family: "fb89d872e4";
  font-weight: 100;
  margin: 0;
  width: 100% !important;
  padding: 0px;
  height: 100%; }

input {
  padding: 10px;
  margin: 10px; }

header {
  background-color: #3b475a;
  height: 100px;
  width: 80%; }
  header .logo {
    float: left;
    height: 100px;
    width: 250px;
    margin-left: 25px; }
    header .logo h1 {
      width: 200px;
      float: left;
      padding: 0;
      margin: 0;
      margin-top: 20px;
      color: #fff;
      font-weight: 600; }
    header .logo small {
      float: left;
      font-family: monospace;
      font-size: 15px;
      color: #fffb00; }
  header .nav {
    float: left;
    height: 30px;
    margin-top: 57px;
    margin-left: 115px; }
  header .nav > a {
    color: #fffb00;
    padding-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer; }
    header .nav > a:hover {
      border-bottom: 1px solid #fffb00;
      padding-bottom: 3px; }

button {
  background-color: #ededed;
  min-width: 80px;
  min-height: 40px;
  border-radius: 3px;
  border: 1px solid #ccc; }

h3:before {
  content: "• "; }

.widthCenter {
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px; }

.container {
  width: 100%; }

.content {
  border: 1px solid #efefef;
  padding: 15px;
  min-height: 100%;
  background-color: #fff;
  padding-bottom: 35px; }

footer {
  background-image: url(https://bitonic.nl/public/img/Bitonic-logo.svg);
  background-repeat: no-repeat;
  background-position: right;
  height: 15px;
  margin-top: 10px;
  margin-bottom: 30px; }

.sha256 {
  text-align: center;
  font-family: monospace; }

.callbacks {
  text-align: center; }
  .callbacks input {
    width: 25%; }
  .callbacks h2 {
    color: #1db756;
    font-size: 22px; }

.holder {
  border: 1px solid #1db756;
  width: 600px;
  height: 200px;
  margin: 20px auto;
  text-align: center;
  vertical-align: middle;
  line-height: 200px;
  color: #1db756;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase; }
  .holder img.tick {
    width: 50px;
    height: 50px; }
  .holder img.doc {
    width: 30px;
    height: 30px; }

.ccc {
  border-color: #ccc; }

.greenThick {
  border-color: #39b54a;
  border-width: 3px; }

.greenThickOk {
  border-color: #39b54a;
  border-width: 3px;
  background-color: #ddffdd; }

.docs_content {
  margin-top: 25px; }

.swaggerui {
  border: 1px solid #ededed;
  height: 500px; }

button.resetTree {
  position: relative;
  display: none;
  top: 5px;
  float: left;
  left: 5px; }

.tree {
  height: 400px;
  width: 90%;
  border: 1px solid #efefef;
  background-color: #fff; }
  .tree .pop_container {
    vertical-align: center;
    margin-top: 160px;
    margin-left: auto;
    margin-right: auto;
    width: 420px; }
    .tree .pop_container input {
      width: 75%; }

.result {
  display: block;
  padding: 10px; }

.error {
  color: red; }

.success {
  color: #39b54a; }

iframe {
  width: 100%; }

/*# sourceMappingURL=main.css.map */
